/venv/
/.idea/
/C:/Users/Петя/PycharmProjects/Experement/
/C:/Users/Петя/PycharmProjects/.idea/
/C:/Users/Петя/PycharmProjects/Doreabotka_and_NewDZ/
/C:/Users/Петя/PycharmProjects/pythonProject/
/C:/Users/Петя/PycharmProjects/pythonProject1/
/C:/Users/Петя/PycharmProjects/pythonProjectCikla/
/C:/Users/Петя/PycharmProjects/.gitignore/
/C:/Users/Петя/PycharmProjects/Svoi_razrabotky/
/C:/Users/Петя/PycharmProjects/Tests/
/C:/Users/Петя/PycharmProjects/WeatherCity_bot/
/C:/Users/Петя/PycharmProjects/Weather_TG/
